docs/workflow.json
{
  "name": "Clienta AI — WhatsApp CRM Agent",
  "nodes": [
    {
      "parameters": {
        "path": "whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        9024,
        2272
      ],
      "id": "8e83672b-f4a1-4e46-a03d-6484beb0c3cd",
      "name": "Webhook Verify",
      "webhookId": "cf9570ce-491f-4818-8a75-b24b87e4913b"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        9248,
        2272
      ],
      "id": "8864880f-ebe5-44ae-93b3-a7fcd1d83b8a",
      "name": "Return Challenge"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        9024,
        3408
      ],
      "id": "849d959c-ed31-4514-a406-582871cec55c",
      "name": "Inbound Webhook",
      "webhookId": "cf9570ce-491f-4818-8a75-b24b87e4913b"
    },
    {
      "parameters": {
        "jsCode": "// ══════════════════════════════════════════════════════════════\n// CONFIGURATION\n// ══════════════════════════════════════════════════════════════\nconst API_URL = \"https://mv21vj2kof.execute-api.us-east-1.amazonaws.com\";\nconst SERVICE_API_KEY = \"S92QLSeIQ0faFR2ql1V066YmGRpZdME6321XLPPqPbc\";\n// ══════════════════════════════════════════════════════════════\n\nconst data = $input.first().json;\nconst value = data.body?.entry?.[0]?.changes?.[0]?.value || data.entry?.[0]?.changes?.[0]?.value;\n\nif (!value?.messages || value.messages.length === 0) {\n  return [];\n}\n\nconst metadata = value.metadata;\nconst msg = value.messages[0];\n\n// Capture ID from standard buttons, lists, carousels, or quick replies\nconst bid = msg.interactive?.button_reply?.id || \n            msg.interactive?.list_reply?.id || \n            msg.button?.payload ||              // Often used for carousel buttons\n            msg.text?.quick_reply?.payload ||   // Alternative carousel location\n            \"\";\n\nreturn [{\n  json: {\n    api_url: API_URL,\n    service_api_key: SERVICE_API_KEY,\n    \n    phone_number_id: metadata.phone_number_id,\n    from_number: msg.from, // Changed 'message' to 'msg'\n    message_type: msg.type, // Changed 'message' to 'msg'\n    \n    action: bid.split('_')[0] || null, \n    product_id: bid.split('_')[1] || null,\n    \n    message_text: msg.type === 'text' ? msg.text?.body : \"\", // Changed 'message' to 'msg'\n    button_reply_id: bid,\n    contact_name: value.contacts?.[0]?.profile?.name || msg.from\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9248,
        3408
      ],
      "id": "d4ce41b4-016f-4417-bdd0-bdafe0c08450",
      "name": "Extract & Filter",
      "notesInFlow": true,
      "notes": "Parses Meta payload, skips status updates"
    },
    {
      "parameters": {
        "url": "={{ $json.api_url }}/onboarding/resolve-phone",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "phone_number_id",
              "value": "={{ $json.phone_number_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Service-Key",
              "value": "={{ $json.service_api_key }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9472,
        3408
      ],
      "id": "605601c0-e9c2-450e-ab04-6db8caae8e86",
      "name": "Resolve Tenant",
      "notesInFlow": true,
      "notes": "GET /onboarding/resolve-phone"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Extract & Filter').item.json.api_url }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Service-Key",
              "value": "={{ $('Extract & Filter').item.json.service_api_key }}"
            },
            {
              "name": "X-Tenant-Id",
              "value": "={{ $json.tenant_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: 'whatsapp', direction: 'inbound', from_number: $('Extract & Filter').item.json.from_number, to_number: $('Extract & Filter').item.json.display_phone_number, text: $('Extract & Filter').item.json.message_text, channel_message_id: $('Extract & Filter').item.json.message_id, contact_name: $('Extract & Filter').item.json.contact_name, category: 'active' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9696,
        3408
      ],
      "id": "12d57b5a-82cc-4df8-8537-50b3373b98cd",
      "name": "Store Inbound",
      "notesInFlow": true,
      "notes": "POST /messages (save inbound)"
    },
    {
      "parameters": {
        "jsCode": "const ext = $('Extract & Filter').item.json;\nconst msgType = ext.message_type;\nconst bid = (ext.button_reply_id || \"\").trim();\nconst text = (ext.message_text || \"\").trim().toLowerCase();\n\n// 1. Handle Add/Remove Action (Highest Priority)\nif (bid.startsWith('add_') || bid.startsWith('rem_')) {\n    const extractedId = bid.split('_')[1]; \n    return [{ \n        json: { \n            route: 'add_to_cart', \n            product_id: extractedId, \n            is_button: true \n        } \n    }];\n}\n\n// 2. Handle Navigation Buttons\nif (bid !== \"\" || msgType === 'interactive') {\n    let route = 'show_options'; // Default if nothing matches\n    \n    // EXPLICIT MAPPING\n    if (bid === 'order') route = 'order';\n    else if (bid === 'products') route = 'products';\n    else if (bid === 'view_cart') route = 'view_cart';\n    else if (bid === 'more_info') route = 'more_info';\n    else if (bid === 'checkout') route = 'checkout';\n    else if (bid === 'new_cart') route = 'new_cart';\n    \n    return [{ json: { \n        route, \n        product_id: ext.product_id || null, \n        is_button: true \n    } }];\n}\n\n// 3. AI Fallback (Natural Language)\nconst menuWords = ['hi', 'hello', 'hey', 'menu', 'start', 'hola'];\nif (menuWords.includes(text)) {\n    return [{ json: { route: 'show_options', is_button: false } }];\n}\n\nif (text.length > 2) {\n    return [{ json: { route: 'more_info', is_button: false } }];\n}\n\nreturn [{ json: { route: 'show_options', is_button: false } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9920,
        3408
      ],
      "id": "ad9b191d-4a66-42c0-9542-a8466459f1ff",
      "name": "Route",
      "notesInFlow": true,
      "notes": "show_options | products | order | something_else | add_to_cart | view_cart | checkout"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "r1",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "show_options",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Show 3 options"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "r2",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "products",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Products"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "r3",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "order",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Order"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "r4",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "more_info",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Something else (AI)"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "r5",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "add_to_cart",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Add to cart"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "r6",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "view_cart",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "View cart"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "r7",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "checkout",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Checkout"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "r8-new-cart",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "new_cart",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "New cart"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "64fcaad2-f7d2-4267-93eb-d1b6c3039af4",
                    "leftValue": "{{ $json.route }}",
                    "rightValue": "view_cart",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "view_cart"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1deea17d-0f5b-4a0c-b132-2da37ef64c47",
                    "leftValue": "{{ $json.route }}",
                    "rightValue": "checkout",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "checkout"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        10144,
        3296
      ],
      "id": "5876b118-9d47-4ee4-8afe-909fcbe0f091",
      "name": "Switch",
      "notesInFlow": true,
      "notes": "First message → 3 options; tap → Products | Order | Something else (AI)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $('Extract & Filter').item.json.phone_number_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Resolve Tenant').item.json.meta_access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messaging_product: 'whatsapp', recipient_type: 'individual', to: $('Extract & Filter').item.json.from_number.replace(/^\\+/,''), type: 'interactive', interactive: { type: 'button', body: { text: \"What would you like to do?\" }, action: { buttons: [ { type: 'reply', reply: { id: 'order', title: 'Order' } }, { type: 'reply', reply: { id: 'products', title: 'Products' } }, { type: 'reply', reply: { id: 'more_info', title: 'Something else' } } ] } } }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10368,
        2496
      ],
      "id": "ac52bc44-e782-41c9-afdc-07a1d0a04c7c",
      "name": "Send 3 Buttons",
      "notesInFlow": true,
      "notes": "Dynamic auth: Bearer from Resolve Tenant (meta_access_token)."
    },
    {
      "parameters": {
        "url": "={{ $('Extract & Filter').item.json.api_url }}/inventory",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Service-Key",
              "value": "={{ $('Extract & Filter').item.json.service_api_key }}"
            },
            {
              "name": "X-Tenant-Id",
              "value": "={{ $('Resolve Tenant').item.json.tenant_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10368,
        2688
      ],
      "id": "c3059be5-1d8a-49a3-a59c-cb1a70c33166",
      "name": "Get Inventory"
    },
    {
      "parameters": {
        "jsCode": "const inv = $input.first().json;\nconst products = inv.products || inv || [];\nconst list = Array.isArray(products) ? products : [];\nconst text = list.length === 0 ? 'No products right now.' : list.map((p, i) => `${i+1}. ${p.name || p.product_name || 'Item'}${p.unit_cost != null ? ' — ' + p.unit_cost : ''}`).join('\\n');\nreturn [{ json: { output: text, product_count: list.length } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10912,
        2688
      ],
      "id": "846b1b1c-84dd-4920-a377-0a04e2ced1b3",
      "name": "Format Products"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $('Extract & Filter').item.json.phone_number_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Resolve Tenant').item.json.meta_access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messaging_product: 'whatsapp', recipient_type: 'individual', to: $('Extract & Filter').item.json.from_number.replace(/^\\\\+/,''), type: 'text', text: { body: $json.output } }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        11440,
        2688
      ],
      "id": "38866bad-10f1-4703-9663-83fbc12fa687",
      "name": "Send Products"
    },
    {
      "parameters": {
        "content": "**Order flow** (template, no chatbot)\nProducts as carousel (image + description + Add to cart). Tap Add to cart → API adds item → View cart / Keep browsing. View cart → Checkout → order created, payment link to follow.",
        "height": 120,
        "width": 320,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        9440,
        2736
      ],
      "id": "3c7348cb-d559-4bfd-a9d6-8473a2c32ffe",
      "name": "Order Flow (expand)"
    },
    {
      "parameters": {
        "url": "={{ $('Extract & Filter').item.json.api_url }}/inventory",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Service-Key",
              "value": "={{ $('Extract & Filter').item.json.service_api_key }}"
            },
            {
              "name": "X-Tenant-Id",
              "value": "={{ $('Resolve Tenant').item.json.tenant_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10368,
        3312
      ],
      "id": "760fe3bb-75e0-4cf0-b813-23858f8662d1",
      "name": "Get Inventory for Order"
    },
    {
      "parameters": {
        "jsCode": "const ext = $('Extract & Filter').item.json;\nconst products = $input.first().json.products || [];\nconst to = (ext.from_number || '').replace(/^\\+/, '');\n\nconst cards = products.slice(0, 10).map((p, i) => ({\n  card_index: i,\n  type: 'BUTTON', \n  header: { type: 'image', image: { link: p.image_url } },\n  body: { text: `*${p.name}*\\n$${p.unit_cost}` },\n  action: { \n    buttons: [\n      { \n        type: 'quick_reply', \n        quick_reply: { id: 'add_' + p.id, title: '➕ Add' } \n      },\n      { \n        type: 'quick_reply', \n        quick_reply: { id: 'rem_' + p.id, title: '➖ Remove' } \n      }\n    ] \n  }\n}));\n\nreturn [{ \n  json: { \n    graphPayload: {\n      messaging_product: 'whatsapp',\n      recipient_type: 'individual',\n      to: to,\n      type: 'interactive',\n      interactive: {\n        type: 'carousel',\n        body: { text: 'Tap + or - to manage your cart:' },\n        action: { cards: cards }\n      }\n    } \n  } \n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10912,
        3312
      ],
      "id": "2d67aafe-77c1-4582-8644-2ceda2b4749d",
      "name": "Build Order Products Message"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.graphPayload }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        11440,
        3312
      ],
      "id": "20ead3d1-3da6-47ab-9ed3-d9a9d427a8e1",
      "name": "Has carousel?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $('Extract & Filter').item.json.phone_number_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Resolve Tenant').item.json.meta_access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.graphPayload }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        11664,
        3232
      ],
      "id": "56b9549f-1f5f-462e-8e5b-7a13682bc2b0",
      "name": "Send Product Carousel"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $('Extract & Filter').item.json.phone_number_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Resolve Tenant').item.json.meta_access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messaging_product: 'whatsapp', recipient_type: 'individual', to: $('Extract & Filter').item.json.from_number.replace(/^\\\\+/,''), type: 'text', text: { body: $json.output } }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        12336,
        3312
      ],
      "id": "8f4f4de5-4f34-43b5-938d-c991da90e84e",
      "name": "Send Order Text (0-1 products)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "id": "m1",
              "leftValue": "={{ $('Build Order Products Message').item.json.moreOutput }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        11888,
        3232
      ],
      "id": "37be403c-a55f-4854-9ff8-54db2db41054",
      "name": "Has more products?"
    },
    {
      "parameters": {
        "jsCode": "const more = $('Build Order Products Message').first().json.moreOutput;\nreturn [{ json: { output: more } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12112,
        3232
      ],
      "id": "4de7a77a-ed1e-4a1c-bd84-2d8c87423a67",
      "name": "Format more products message"
    },
    {
      "parameters": {
        "url": "={{ $('Extract & Filter').item.json.api_url }}/inventory",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Service-Key",
              "value": "={{ $('Extract & Filter').item.json.service_api_key }}"
            },
            {
              "name": "X-Tenant-Id",
              "value": "={{ $('Resolve Tenant').item.json.tenant_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10512,
        3696
      ],
      "id": "ee7c4a70-be79-44ed-837a-067fd3c09c9d",
      "name": "Get Inventory for Add to Cart"
    },
    {
      "parameters": {
        "jsCode": "const routeItem = $('Route').first().json;\nconst inv = $input.first().json;\nconst pid = routeItem.product_id;\nconst list = inv.products || inv || [];\nconst idx = parseInt(pid, 10);\nif (!isNaN(idx) && String(idx) === pid && list[idx] != null) {\n  const p = list[idx];\n  return [{ json: { product_id: p.id || p.product_id } }];\n}\nreturn [{ json: { product_id: pid } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11216,
        3680
      ],
      "id": "b5a1a9aa-24d4-4283-8289-0707d904e018",
      "name": "Resolve product_id for Add to Cart"
    },
    {
      "parameters": {
        "url": "={{ $('Extract & Filter').item.json.api_url }}/cart",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "customer_id",
              "value": "={{ $('Extract & Filter').item.json.from_number }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Service-Key",
              "value": "={{ $('Extract & Filter').item.json.service_api_key }}"
            },
            {
              "name": "X-Tenant-Id",
              "value": "={{ $('Resolve Tenant').item.json.tenant_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10368,
        3888
      ],
      "id": "617dbac6-43db-458f-a2b6-67dcc598849a",
      "name": "Get Cart"
    },
    {
      "parameters": {
        "url": "={{ $('Extract & Filter').item.json.api_url }}/cart",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "customer_id",
              "value": "={{ $('Extract & Filter').item.json.from_number }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Service-Key",
              "value": "={{ $('Extract & Filter').item.json.service_api_key }}"
            },
            {
              "name": "X-Tenant-Id",
              "value": "={{ $('Resolve Tenant').item.json.tenant_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10512,
        3488
      ],
      "id": "a1b2c3d4-order-get-cart-check",
      "name": "Get Cart for Order"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "id": "cart-items-check",
              "leftValue": "={{ ($json.items || []).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        10736,
        3488
      ],
      "id": "b2c3d4e5-cart-has-items-if",
      "name": "Cart has items?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $('Extract & Filter').item.json.phone_number_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Resolve Tenant').item.json.meta_access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"={{ $('Extract & Filter').item.json.from_number.replace(/^\\+/, '') }}\",\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"button\",\n    \"body\": { \"text\": \"You already have items in your cart. View cart or start a new order?\" },\n    \"action\": {\n      \"buttons\": [\n        { \"type\": \"reply\", \"reply\": { \"id\": \"view_cart\", \"title\": \"View Cart\" } },\n        { \"type\": \"reply\", \"reply\": { \"id\": \"new_cart\", \"title\": \"Start new cart\" } }\n      ]\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10960,
        3408
      ],
      "id": "c3d4e5f6-send-already-have-cart",
      "name": "Send Already Have Cart"
    },
    {
      "parameters": {
        "jsCode": "const cart = $input.first().json;\nconst items = cart.items || [];\nconst lines = items.map(i => `${i.product_name || 'Item'} x${i.quantity} — ${i.unit_price || '0'}`);\nconst total = items.reduce((s, i) => s + (parseFloat(i.unit_price || 0) * (i.quantity || 1)), 0);\nconst text = items.length === 0 ? 'Your cart is empty.' : lines.join('\\n') + '\\n———\\nTotal: ' + total.toFixed(2);\nreturn [{ json: { output: text, item_count: items.length } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10912,
        3888
      ],
      "id": "eeeda5ae-7a62-4317-985a-7a39d35301a1",
      "name": "Format Cart"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $('Extract & Filter').item.json.phone_number_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Resolve Tenant').item.json.meta_access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messaging_product: 'whatsapp', recipient_type: 'individual', to: $('Extract & Filter').item.json.from_number.replace(/^\\\\+/,''), type: 'interactive', interactive: { type: 'button', body: { text: $json.output }, action: { buttons: [ { type: 'reply', reply: { id: 'checkout', title: 'Checkout' } }, { type: 'reply', reply: { id: 'products', title: 'Keep browsing' } } ] } } }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        11440,
        3888
      ],
      "id": "b3063429-7bf4-40e2-990b-1155c9d1f44e",
      "name": "Send Cart Message"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Extract & Filter').item.json.api_url }}/cart/checkout",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Service-Key",
              "value": "={{ $('Extract & Filter').item.json.service_api_key }}"
            },
            {
              "name": "X-Tenant-Id",
              "value": "={{ $('Resolve Tenant').item.json.tenant_id }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ customer_id: $('Extract & Filter').item.json.from_number, customer_name: $('Extract & Filter').item.json.contact_name, customer_phone: $('Extract & Filter').item.json.from_number }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10368,
        4080
      ],
      "id": "2637b878-17d1-4e79-a904-22a0f316265c",
      "name": "Checkout API"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{ $('Extract & Filter').item.json.api_url }}/cart",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "customer_id",
              "value": "={{ $('Extract & Filter').item.json.from_number }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Service-Key",
              "value": "={{ $('Extract & Filter').item.json.service_api_key }}"
            },
            {
              "name": "X-Tenant-Id",
              "value": "={{ $('Resolve Tenant').item.json.tenant_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10368,
        4240
      ],
      "id": "d5e6f7a8-clear-cart-api",
      "name": "Clear Cart API"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $('Extract & Filter').item.json.phone_number_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Resolve Tenant').item.json.meta_access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"={{ $('Extract & Filter').item.json.from_number.replace(/^\\+/, '') }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"=Order placed! Total: {{ $json.total || '0.00' }}. We will send the payment link shortly.\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10912,
        4080
      ],
      "id": "e1a48267-7a75-48c1-aa81-ad993a0f7392",
      "name": "Send Order Placed"
    },
    {
      "parameters": {
        "jsCode": "// AI Agent expects an input field called 'sessionId'. Inject it from tenant + customer phone.\nconst item = $input.first().json;\nconst tenantId = $('Resolve Tenant').item.json.tenant_id || '';\nconst fromNumber = $('Extract & Filter').item.json.from_number || '';\nconst sessionId = `${tenantId}__${fromNumber}`;\nreturn [{ json: { ...item, sessionId } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10368,
        2992
      ],
      "id": "d4181b91-200d-4372-a0bb-cacfe9547f0e",
      "name": "Add Session ID for AI"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Customer {{ $('Extract & Filter').item.json.contact_name }} ({{ $('Extract & Filter').item.json.from_number }}) says:\n\n{{ $('Extract & Filter').item.json.message_text }}",
        "options": {
          "systemMessage": "={{ ($('Resolve Tenant').item.json.ai_system_prompt || 'You are a helpful store assistant for ' + ($('Resolve Tenant').item.json.business_name || 'this business') + '. Answer customer questions about the store only: opening hours, location, services, policies, and general information. Be friendly and concise. Respond in the same language the customer uses. Do not take orders—direct customers to use the Order button. You can use search_products only if they ask what products exist; for placing orders they must use the Order flow.') + '\\n\\n[Context: You are already talking to a customer of \"' + ($('Resolve Tenant').item.json.business_name || 'this business') + '\". API authentication (X-Service-Key, X-Tenant-Id) is handled by the system—never ask the customer for these or any credentials.]' }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        10848,
        2880
      ],
      "id": "9e8256e7-38a0-4c29-8d21-ad29cb902e72",
      "name": "AI Agent",
      "notesInFlow": true,
      "notes": "Something else: store-info Q&A only. Session ID comes from previous node."
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        10592,
        3104
      ],
      "id": "bbbfa1bb-900f-414b-a4a2-1f2f111b4035",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "xznfR6khdBdL6x1g",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Extract & Filter').item.json.api_url }}/inventory",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "search"
            }
          ]
        },
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "X-Service-Key"
            },
            {
              "name": "X-Tenant-Id"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        10848,
        3104
      ],
      "id": "b6272fe2-31cd-4271-9367-0aa6c5fbc167",
      "name": "Search Products"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Extract & Filter').item.json.api_url }}/transactions",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "X-Service-Key"
            },
            {
              "name": "X-Tenant-Id"
            },
            {
              "name": "Content-Type"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $fromAI('order_body', 'JSON object with: items (array of {product_id, name, quantity, unit_price}), customer_name, customer_phone', 'json') }}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        10976,
        3104
      ],
      "id": "eeffe747-8c78-4a13-9a19-8f0c842474f6",
      "name": "Create Order"
    },
    {
      "parameters": {
        "url": "={{ $('Extract & Filter').item.json.api_url }}/contacts",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "phone"
            }
          ]
        },
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "X-Service-Key"
            },
            {
              "name": "X-Tenant-Id"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        11104,
        3104
      ],
      "id": "41bb0bd6-336f-44c7-a7db-7146d27cc36c",
      "name": "Find Contact"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Extract & Filter').item.json.api_url }}/contacts",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "X-Service-Key"
            },
            {
              "name": "X-Tenant-Id"
            },
            {
              "name": "Content-Type"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $fromAI('contact_body', 'JSON object with: name (string), phone (string), source_channel (always whatsapp)', 'json') }}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        11232,
        3104
      ],
      "id": "e5d9ea17-78c5-49d2-a21b-97188c420302",
      "name": "Create Contact"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $('Extract & Filter').item.json.phone_number_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Resolve Tenant').item.json.meta_access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messaging_product: 'whatsapp', recipient_type: 'individual', to: $('Extract & Filter').item.json.from_number.replace(/^\\\\+/,''), type: 'text', text: { body: $json.output } }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        11440,
        2992
      ],
      "id": "4edc4807-4763-4606-bf3b-ff7482d7fe8c",
      "name": "Send Reply"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Extract & Filter').item.json.api_url }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Service-Key",
              "value": "={{ $('Extract & Filter').item.json.service_api_key }}"
            },
            {
              "name": "X-Tenant-Id",
              "value": "={{ $('Resolve Tenant').item.json.tenant_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: 'whatsapp', direction: 'outbound', from_number: $('Extract & Filter').item.json.display_phone_number, to_number: $('Extract & Filter').item.json.from_number, text: $('AI Agent').item.json.output, category: 'active' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        11664,
        2992
      ],
      "id": "a98a0e9e-4189-41ec-b9c2-e311ca038ded",
      "name": "Store Outbound",
      "notesInFlow": true,
      "notes": "POST /messages (save outbound)"
    },
    {
      "parameters": {
        "content": "### Setup Checklist\n\n**1. Service API Key** — In **Extract & Filter**, set your real key.\n**2. Meta Webhook** — App Dashboard → WhatsApp: URL = {n8n}/webhook/whatsapp.\n**3. Tenant** — Each business sets **Meta Access Token** and **WhatsApp Business Account ID** in Connect WhatsApp (Settings). POST /onboarding/setup with meta_phone_number_id, meta_access_token, meta_business_account_id, ai_system_prompt. Credentials are per-tenant and supplied dynamically via resolve-phone.\n**4. Graph API auth** — All send nodes use **Authorization: Bearer {{ $('Resolve Tenant').item.json.meta_access_token }}** (no hardcoded WhatsApp credential).\n**5. Other credentials** — Google Gemini for AI Agent.\n\n---\n\n### Flow (templates + one chatbot path)\nFirst message → **Send 3 Buttons**: Order | Products | Something else.\n• **Products** → Get Inventory → **Send Products** (list only).\n• **Order** → Get Inventory → **Format Order Products** → **Send Order Products** (list + add-to-cart CTA). Follow-up: handle reply (e.g. 1x2, 3x1) in another flow → POST /transactions, payment link.\n• **Something else** → **AI Agent** (store-info Q&A only) → Send Reply → Store Outbound.",
        "height": 540,
        "width": 400,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        8544,
        2192
      ],
      "id": "d0616ec0-e799-4919-b3ef-d9dab99ac0bc",
      "name": "Setup Instructions"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        10720,
        3104
      ],
      "id": "1b902236-6bd8-4c6a-8298-827e39352a6e",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst action = $('Extract & Filter').item.json.action; // \"add\" or \"rem\"\nlet qty = input.quantity || 0; \n\nif (action === 'rem') {\n  qty = Math.max(0, qty - 1);\n} else {\n  qty += 1;\n}\n\nreturn {\n  new_quantity: qty,\n  product_name: input.name,\n  product_id: input.id,\n  unit_cost: input.unit_cost,\n  total: (qty * input.unit_cost).toFixed(2)\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10912,
        3696
      ],
      "id": "cd2f5a0b-f288-43ee-b0bc-927d525fca46",
      "name": "State Manager"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $('Extract & Filter').item.json.phone_number_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Resolve Tenant').item.json.meta_access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"={{ $('Extract & Filter').item.json.from_number.replace(/^\\+/, '') }}\",\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"button\",\n    \"body\": {\n      \"text\": \"✅ Item added. I can suggest products based on what you need—just tell me what you're looking for.\"\n    },\n    \"action\": {\n      \"buttons\": [\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"view_cart\",\n            \"title\": \"🛒 View Cart\"\n          }\n        },\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"products\",\n            \"title\": \"🛍️ Keep Shopping\"\n          }\n        }\n      ]\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        11888,
        3680
      ],
      "id": "2e61557b-8d0c-4922-8c12-08e1bb9350f3",
      "name": "WhatsApp: Cart Confirmation"
    },
    {
      "parameters": {
        "jsCode": "const cartItems = $('State Manager').first().json.cart || []; \n\nif (cartItems.length === 0) {\n    return [{ json: { summary: \"Your cart is empty! 🛒\", has_items: false } }];\n}\n\nlet summary = \"📝 *Your Current Order:*\\n\\n\";\nlet total = 0;\n\ncartItems.forEach(item => {\n    const price = parseFloat(item.price) || 0;\n    const qty = parseInt(item.quantity) || 1;\n    summary += `• ${item.name} (x${qty}) - $${(price * qty).toFixed(2)}\\n`;\n    total += (price * qty);\n});\n\nsummary += `\\n*Total: $${total.toFixed(2)}*`;\nreturn [{ json: { summary, has_items: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10608,
        3504
      ],
      "id": "85fc70dc-dc31-4261-83c3-3b01bfe7f7bc",
      "name": "Format Cart Summary"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Extract & Filter').item.json.api_url }}/cart/items",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Service-Key",
              "value": "={{ $('Extract & Filter').item.json.service_api_key }}"
            },
            {
              "name": "X-Tenant-Id",
              "value": "={{ $('Resolve Tenant').item.json.tenant_id }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "customer_id",
              "value": "={{ $('Extract & Filter').item.json.from_number }}"
            },
            {
              "name": "product_id",
              "value": "={{ $('Route').item.json.product_id }}"
            },
            {
              "name": "quantity",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        11632,
        3680
      ],
      "id": "d6bcfcf9-6350-44d8-ae40-4ece925b9884",
      "name": "Add to Cart Success"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $('Extract & Filter').item.json.phone_number_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Resolve Tenant').item.json.meta_access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"={{ $('Extract & Filter').item.json.from }}\",\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"button\",\n    \"body\": {\n      \"text\": \"={{ $json.summary }}\"\n    },\n    \"action\": {\n      \"buttons\": [\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"checkout\",\n            \"title\": \"💳 Checkout\"\n          }\n        },\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"products\",\n            \"title\": \"🛍️ Keep Shopping\"\n          }\n        }\n      ]\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10960,
        3504
      ],
      "id": "9a5b3b6d-537b-427e-8d64-a08c27476369",
      "name": "WhatsApp: Send View Cart"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Verify": {
      "main": [
        [
          {
            "node": "Return Challenge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inbound Webhook": {
      "main": [
        [
          {
            "node": "Extract & Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract & Filter": {
      "main": [
        [
          {
            "node": "Resolve Tenant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Tenant": {
      "main": [
        [
          {
            "node": "Store Inbound",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Inbound": {
      "main": [
        [
          {
            "node": "Route",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send 3 Buttons",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Inventory for Order",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Cart for Order",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Session ID for AI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Inventory for Add to Cart",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Cart",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Checkout API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Clear Cart API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Cart Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Inventory": {
      "main": [
        [
          {
            "node": "Format Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Products": {
      "main": [
        [
          {
            "node": "Send Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Session ID for AI": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Reply": {
      "main": [
        [
          {
            "node": "Store Outbound",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Inventory for Order": {
      "main": [
        [
          {
            "node": "Build Order Products Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Order Products Message": {
      "main": [
        [
          {
            "node": "Has carousel?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has carousel?": {
      "main": [
        [
          {
            "node": "Send Product Carousel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Order Text (0-1 products)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Product Carousel": {
      "main": [
        [
          {
            "node": "Has more products?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has more products?": {
      "main": [
        [
          {
            "node": "Format more products message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format more products message": {
      "main": [
        [
          {
            "node": "Send Order Text (0-1 products)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Inventory for Add to Cart": {
      "main": [
        [
          {
            "node": "State Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve product_id for Add to Cart": {
      "main": [
        [
          {
            "node": "Add to Cart Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Cart API": {
      "main": [
        [
          {
            "node": "Get Inventory for Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Cart for Order": {
      "main": [
        [
          {
            "node": "Cart has items?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cart has items?": {
      "main": [
        [
          {
            "node": "Send Already Have Cart",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Inventory for Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Cart": {
      "main": [
        [
          {
            "node": "Format Cart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Cart": {
      "main": [
        [
          {
            "node": "Send Cart Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checkout API": {
      "main": [
        [
          {
            "node": "Send Order Placed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Search Products": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Order": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Find Contact": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Contact": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "State Manager": {
      "main": [
        [
          {
            "node": "Resolve product_id for Add to Cart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Cart Summary": {
      "main": [
        [
          {
            "node": "WhatsApp: Send View Cart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Cart Success": {
      "main": [
        [
          {
            "node": "WhatsApp: Cart Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "1f1dfaea-69bf-4b42-a116-7573a82f1251",
  "meta": {
    "instanceId": "c91f26522a04f267408f611dedee2ca46bdc2e467732f3c5c8642e81c8c5f9ad"
  },
  "id": "BGhaJlgtZ3hbhquK",
  "tags": []
}