docs/workflow.json
{
  "name": "Clienta AI — WhatsApp CRM Agent",
  "nodes": [
    {
      "parameters": {
        "path": "whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        304
      ],
      "id": "79fd59e0-7e4b-4524-8ecf-b3c19bdaeea1",
      "name": "Webhook Verify",
      "webhookId": "cf9570ce-491f-4818-8a75-b24b87e4913b"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        224,
        304
      ],
      "id": "5207b15b-40c3-48bc-8448-b6515cbea1ce",
      "name": "Return Challenge"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        1312
      ],
      "id": "55abde61-e6e1-4277-86e4-f873c2e5eceb",
      "name": "Inbound Webhook",
      "webhookId": "cf9570ce-491f-4818-8a75-b24b87e4913b"
    },
    {
      "parameters": {
        "jsCode": "// ══════════════════════════════════════════════════════════════\n// CONFIGURATION\n// ══════════════════════════════════════════════════════════════\nconst API_URL = \"https://mv21vj2kof.execute-api.us-east-1.amazonaws.com\";\nconst SERVICE_API_KEY = \"S92QLSeIQ0faFR2ql1V066YmGRpZdME6321XLPPqPbc\";\n// ══════════════════════════════════════════════════════════════\n\nconst data = $input.first().json;\nconst value = data.body?.entry?.[0]?.changes?.[0]?.value || data.entry?.[0]?.changes?.[0]?.value;\n\nif (!value?.messages || value.messages.length === 0) {\n  return [];\n}\n\nconst metadata = value.metadata || {};\nconst msg = value.messages[0] || {};\n\n// Capture ID from standard buttons, lists, carousels, or quick replies\nconst bid = msg.interactive?.button_reply?.id || \n            msg.interactive?.list_reply?.id || \n            msg.button?.payload ||\n            msg.text?.quick_reply?.payload ||\n            \"\";\n\nconst btitle = msg.interactive?.button_reply?.title ||\n               msg.interactive?.list_reply?.title ||\n               \"\";\n\nconst messageText = msg.type === 'text'\n  ? (msg.text?.body || '')\n  : (btitle || (bid ? `[${bid}]` : (msg.type ? `[${msg.type}]` : '')));\n\nreturn [{\n  json: {\n    api_url: API_URL,\n    service_api_key: SERVICE_API_KEY,\n    \n    phone_number_id: metadata.phone_number_id || \"\",\n    display_phone_number: metadata.display_phone_number || \"\",\n    message_id: msg.id || \"\",\n    from_number: msg.from || \"\",\n    message_type: msg.type || \"\",\n    \n    action: bid.split('_')[0] || null, \n    product_id: bid.split('_')[1] || null,\n    \n    message_text: messageText,\n    button_reply_id: bid,\n    contact_name: value.contacts?.[0]?.profile?.name || msg.from || \"\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        1312
      ],
      "id": "951e38de-5a78-4046-8ac1-04eb0af37b16",
      "name": "Extract & Filter",
      "notesInFlow": true,
      "notes": "Parses Meta payload, skips status updates"
    },
    {
      "parameters": {
        "url": "={{ $json.api_url }}/onboarding/resolve-phone",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "phone_number_id",
              "value": "={{ $json.phone_number_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Service-Key",
              "value": "={{ $json.service_api_key }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        1312
      ],
      "id": "2c00205a-3e94-49c3-9f81-92d212d4d8a7",
      "name": "Resolve Tenant",
      "notesInFlow": true,
      "notes": "GET /onboarding/resolve-phone"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Extract & Filter').item.json.api_url }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Service-Key",
              "value": "={{ $('Extract & Filter').item.json.service_api_key }}"
            },
            {
              "name": "X-Tenant-Id",
              "value": "={{ $json.tenant_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: 'whatsapp', direction: 'inbound', from_number: $('Extract & Filter').item.json.from_number, to_number: $('Extract & Filter').item.json.display_phone_number, text: $('Extract & Filter').item.json.message_text, channel_message_id: $('Extract & Filter').item.json.message_id, contact_name: $('Extract & Filter').item.json.contact_name, category: 'active' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        1312
      ],
      "id": "204e6283-3fe5-422d-a20b-3386fa295a6a",
      "name": "Store Inbound",
      "notesInFlow": true,
      "notes": "POST /messages (save inbound)"
    },
    {
      "parameters": {
        "jsCode": "const ext = $('Extract & Filter').item.json;\nconst msgType = ext.message_type;\nconst bid = (ext.button_reply_id || \"\").trim();\nconst text = (ext.message_text || \"\").trim().toLowerCase();\n\n// 1. Handle Add/Remove Action (Highest Priority)\nif (bid.startsWith('add_') || bid.startsWith('rem_')) {\n    const extractedId = bid.split('_')[1]; \n    return [{ \n        json: { \n            route: 'add_to_cart', \n            product_id: extractedId, \n            is_button: true \n        } \n    }];\n}\n\n// 2. Handle Navigation Buttons\nif (bid !== \"\" || msgType === 'interactive') {\n    let route = 'show_options'; // Default if nothing matches\n    \n    // EXPLICIT MAPPING\n    if (bid === 'order') route = 'order';\n    else if (bid === 'products') route = 'products';\n    else if (bid === 'view_cart') route = 'view_cart';\n    else if (bid === 'more_info') route = 'more_info';\n    else if (bid === 'checkout') route = 'checkout';\n    else if (bid === 'new_cart') route = 'new_cart';\n    \n    return [{ json: { \n        route, \n        product_id: ext.product_id || null, \n        is_button: true \n    } }];\n}\n\n// 3. AI Fallback (Natural Language)\nconst menuWords = ['hi', 'hello', 'hey', 'menu', 'start', 'hola'];\nif (menuWords.includes(text)) {\n    return [{ json: { route: 'show_options', is_button: false } }];\n}\n\nif (text.length > 2) {\n    return [{ json: { route: 'more_info', is_button: false } }];\n}\n\nreturn [{ json: { route: 'show_options', is_button: false } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        1312
      ],
      "id": "5a28e182-af3d-46cc-b8a0-048625a56115",
      "name": "Route",
      "notesInFlow": true,
      "notes": "show_options | products | order | something_else | add_to_cart | view_cart | checkout"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "r1",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "show_options",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Show 3 options"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "r2",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "products",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Products"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "r3",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "order",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Order"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "r4",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "more_info",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Something else (AI)"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "r5",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "add_to_cart",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Add to cart"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "r6",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "view_cart",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "View cart"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "r7",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "checkout",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Checkout"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "r8-new-cart",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "new_cart",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "New cart"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "64fcaad2-f7d2-4267-93eb-d1b6c3039af4",
                    "leftValue": "{{ $json.route }}",
                    "rightValue": "view_cart",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "view_cart"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1deea17d-0f5b-4a0c-b132-2da37ef64c47",
                    "leftValue": "{{ $json.route }}",
                    "rightValue": "checkout",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "checkout"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1120,
        1184
      ],
      "id": "2f21d479-08ac-4ede-97b8-3715e2727d22",
      "name": "Switch",
      "notesInFlow": true,
      "notes": "First message → 3 options; tap → Products | Order | Something else (AI)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $('Extract & Filter').item.json.phone_number_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Resolve Tenant').item.json.meta_access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messaging_product: 'whatsapp', recipient_type: 'individual', to: $('Extract & Filter').item.json.from_number.replace(/^\\+/,''), type: 'interactive', interactive: { type: 'button', body: { text: \"What would you like to do?\" }, action: { buttons: [ { type: 'reply', reply: { id: 'order', title: 'Order' } }, { type: 'reply', reply: { id: 'products', title: 'Products' } }, { type: 'reply', reply: { id: 'more_info', title: 'Something else' } } ] } } }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1344,
        752
      ],
      "id": "839d13db-dc46-46ca-a5c8-d79a4f7fcdf2",
      "name": "Send 3 Buttons",
      "notesInFlow": true,
      "notes": "Dynamic auth: Bearer from Resolve Tenant (meta_access_token)."
    },
    {
      "parameters": {
        "url": "={{ $('Extract & Filter').item.json.api_url }}/inventory",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Service-Key",
              "value": "={{ $('Extract & Filter').item.json.service_api_key }}"
            },
            {
              "name": "X-Tenant-Id",
              "value": "={{ $('Resolve Tenant').item.json.tenant_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        528
      ],
      "id": "8867c40f-fef0-4786-b486-c13067cc2b00",
      "name": "Get Inventory"
    },
    {
      "parameters": {
        "jsCode": "const inv = $input.first().json;\nconst products = inv.products || inv || [];\nconst list = Array.isArray(products) ? products : [];\nconst text = list.length === 0 ? 'No products right now.' : list.map((p, i) => `${i+1}. ${p.name || p.product_name || 'Item'}${p.unit_cost != null ? ' — ' + p.unit_cost : ''}`).join('\\n');\nreturn [{ json: { output: text, product_count: list.length } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        528
      ],
      "id": "b9f1e3e7-c77e-4c00-a185-879c160aaa77",
      "name": "Format Products"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $('Extract & Filter').item.json.phone_number_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Resolve Tenant').item.json.meta_access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messaging_product: 'whatsapp', recipient_type: 'individual', to: $('Extract & Filter').item.json.from_number.replace(/^\\\\+/,''), type: 'text', text: { body: $json.output } }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        528
      ],
      "id": "f1d1d0c9-0339-4600-9be5-75b0065da8f2",
      "name": "Send Products"
    },
    {
      "parameters": {
        "content": "**Order flow** (template, no chatbot)\nProducts as carousel (image + description + Add to cart). Tap Add to cart → API adds item → View cart / Keep browsing. View cart → Checkout → order created, payment link to follow.",
        "height": 120,
        "width": 320,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        416,
        5248
      ],
      "id": "2447fce3-7480-4488-b64e-bfbcb25f0cfb",
      "name": "Order Flow (expand)"
    },
    {
      "parameters": {
        "url": "={{ $('Extract & Filter').item.json.api_url }}/inventory",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Service-Key",
              "value": "={{ $('Extract & Filter').item.json.service_api_key }}"
            },
            {
              "name": "X-Tenant-Id",
              "value": "={{ $('Resolve Tenant').item.json.tenant_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2416,
        1328
      ],
      "id": "5f6320eb-8e00-49b9-8a4d-45e693ff5d87",
      "name": "Get Inventory for Order"
    },
    {
      "parameters": {
        "jsCode": "const ext = $('Extract & Filter').item.json;\nconst products = $input.first().json.products || [];\nconst to = (ext.from_number || '').replace(/^\\+/, '');\n\nconst cards = products.slice(0, 10).map((p, i) => ({\n  card_index: i,\n  type: 'BUTTON', \n  header: { type: 'image', image: { link: p.image_url } },\n  body: { text: `*${p.name}*\\n$${p.unit_cost}` },\n  action: { \n    buttons: [\n      { \n        type: 'quick_reply', \n        quick_reply: { id: 'add_' + p.id, title: '➕ Add' } \n      },\n      { \n        type: 'quick_reply', \n        quick_reply: { id: 'rem_' + p.id, title: '➖ Remove' } \n      }\n    ] \n  }\n}));\n\nreturn [{ \n  json: { \n    graphPayload: {\n      messaging_product: 'whatsapp',\n      recipient_type: 'individual',\n      to: to,\n      type: 'interactive',\n      interactive: {\n        type: 'carousel',\n        body: { text: 'Tap + or - to manage your cart:' },\n        action: { cards: cards }\n      }\n    } \n  } \n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        1328
      ],
      "id": "762106dd-2ace-4ae4-8920-9690ce81c72e",
      "name": "Build Order Products Message"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.graphPayload }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2864,
        1328
      ],
      "id": "a9a8e62a-050f-4fb9-8c79-e5c1b5dddcf9",
      "name": "Has carousel?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $('Extract & Filter').item.json.phone_number_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Resolve Tenant').item.json.meta_access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.graphPayload }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3088,
        1328
      ],
      "id": "175c1bbe-d299-4152-ba86-7b017a7f96a7",
      "name": "Send Product Carousel"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $('Extract & Filter').item.json.phone_number_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Resolve Tenant').item.json.meta_access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messaging_product: 'whatsapp', recipient_type: 'individual', to: $('Extract & Filter').item.json.from_number.replace(/^\\\\+/,''), type: 'text', text: { body: $json.output } }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3760,
        1328
      ],
      "id": "f8527b0f-a9fc-4c5b-a82f-b15efc69205b",
      "name": "Send Order Text (0-1 products)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "id": "m1",
              "leftValue": "={{ $('Build Order Products Message').item.json.moreOutput }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3312,
        1328
      ],
      "id": "4df7a66c-720b-4ce0-b8f9-b4570bec94f8",
      "name": "Has more products?"
    },
    {
      "parameters": {
        "jsCode": "const more = $('Build Order Products Message').first().json.moreOutput;\nreturn [{ json: { output: more } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3536,
        1328
      ],
      "id": "f3d2f96a-af52-4c99-b3a5-3a40c4942f4e",
      "name": "Format more products message"
    },
    {
      "parameters": {
        "url": "={{ $('Extract & Filter').item.json.api_url }}/inventory",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Service-Key",
              "value": "={{ $('Extract & Filter').item.json.service_api_key }}"
            },
            {
              "name": "X-Tenant-Id",
              "value": "={{ $('Resolve Tenant').item.json.tenant_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1344,
        1792
      ],
      "id": "cc120485-19d6-4719-9207-8fc97e8f0935",
      "name": "Get Inventory for Add to Cart"
    },
    {
      "parameters": {
        "jsCode": "const routeItem = $('Route').first().json;\nconst inv = $input.first().json;\nconst pid = routeItem.product_id;\nconst list = inv.products || inv || [];\nconst idx = parseInt(pid, 10);\nif (!isNaN(idx) && String(idx) === pid && list[idx] != null) {\n  const p = list[idx];\n  return [{ json: { product_id: p.id || p.product_id } }];\n}\nreturn [{ json: { product_id: pid } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2416,
        1792
      ],
      "id": "101983e6-9a3e-47c1-a94c-2e574cf02ebc",
      "name": "Resolve product_id for Add to Cart"
    },
    {
      "parameters": {
        "url": "={{ $('Extract & Filter').item.json.api_url }}/cart",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "customer_id",
              "value": "={{ $('Extract & Filter').item.json.from_number }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Service-Key",
              "value": "={{ $('Extract & Filter').item.json.service_api_key }}"
            },
            {
              "name": "X-Tenant-Id",
              "value": "={{ $('Resolve Tenant').item.json.tenant_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1344,
        1984
      ],
      "id": "6bac3f16-1fcb-4c91-9b77-af80ee35207c",
      "name": "Get Cart"
    },
    {
      "parameters": {
        "url": "={{ $('Extract & Filter').item.json.api_url }}/cart",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "customer_id",
              "value": "={{ $('Extract & Filter').item.json.from_number }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Service-Key",
              "value": "={{ $('Extract & Filter').item.json.service_api_key }}"
            },
            {
              "name": "X-Tenant-Id",
              "value": "={{ $('Resolve Tenant').item.json.tenant_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1344,
        1408
      ],
      "id": "f148fc44-f25a-4c6a-9229-ab9ca30514ef",
      "name": "Get Cart for Order"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "id": "cart-items-check",
              "leftValue": "={{ ($json.items || []).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1888,
        1408
      ],
      "id": "b69ea4ab-cc82-4eb1-903d-b61c9965a589",
      "name": "Cart has items?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $('Extract & Filter').item.json.phone_number_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Resolve Tenant').item.json.meta_access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"={{ $('Extract & Filter').item.json.from_number.replace(/^\\+/, '') }}\",\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"button\",\n    \"body\": { \"text\": \"You already have items in your cart. View cart or start a new order?\" },\n    \"action\": {\n      \"buttons\": [\n        { \"type\": \"reply\", \"reply\": { \"id\": \"view_cart\", \"title\": \"View Cart\" } },\n        { \"type\": \"reply\", \"reply\": { \"id\": \"new_cart\", \"title\": \"Start new cart\" } }\n      ]\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2416,
        1600
      ],
      "id": "4296f705-074c-4e90-afd4-664b41f2a3fd",
      "name": "Send Already Have Cart"
    },
    {
      "parameters": {
        "jsCode": "const cart = $input.first().json;\nconst items = cart.items || [];\nconst lines = items.map(i => `${i.product_name || 'Item'} x${i.quantity} — ${i.unit_price || '0'}`);\nconst total = items.reduce((s, i) => s + (parseFloat(i.unit_price || 0) * (i.quantity || 1)), 0);\nconst text = items.length === 0 ? 'Your cart is empty.' : lines.join('\\n') + '\\n———\\nTotal: ' + total.toFixed(2);\nreturn [{ json: { output: text, item_count: items.length } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1888,
        1984
      ],
      "id": "c423f979-3910-4e39-b758-2987727e1a17",
      "name": "Format Cart"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $('Extract & Filter').item.json.phone_number_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Resolve Tenant').item.json.meta_access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messaging_product: 'whatsapp', recipient_type: 'individual', to: $('Extract & Filter').item.json.from_number.replace(/^\\\\+/,''), type: 'interactive', interactive: { type: 'button', body: { text: $json.output }, action: { buttons: [ { type: 'reply', reply: { id: 'checkout', title: 'Checkout' } }, { type: 'reply', reply: { id: 'products', title: 'Keep browsing' } } ] } } }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2416,
        1984
      ],
      "id": "f35ee16d-7534-42ae-817f-eb80e0813bb9",
      "name": "Send Cart Message"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Extract & Filter').item.json.api_url }}/cart/checkout",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Service-Key",
              "value": "={{ $('Extract & Filter').item.json.service_api_key }}"
            },
            {
              "name": "X-Tenant-Id",
              "value": "={{ $('Resolve Tenant').item.json.tenant_id }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ customer_id: $('Extract & Filter').item.json.from_number, customer_name: $('Extract & Filter').item.json.contact_name, customer_phone: $('Extract & Filter').item.json.from_number }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1344,
        2176
      ],
      "id": "25067125-98b2-4e68-a9e2-0783708cec71",
      "name": "Checkout API"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{ $('Extract & Filter').item.json.api_url }}/cart",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "customer_id",
              "value": "={{ $('Extract & Filter').item.json.from_number }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Service-Key",
              "value": "={{ $('Extract & Filter').item.json.service_api_key }}"
            },
            {
              "name": "X-Tenant-Id",
              "value": "={{ $('Resolve Tenant').item.json.tenant_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1888,
        2368
      ],
      "id": "e51a4f29-38ce-42d9-8b0d-44732547472d",
      "name": "Clear Cart API"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $('Extract & Filter').item.json.phone_number_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Resolve Tenant').item.json.meta_access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"={{ $('Extract & Filter').item.json.from_number.replace(/^\\+/, '') }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"=Order placed! Total: {{ $json.total || '0.00' }}. We will send the payment link shortly.\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1888,
        2176
      ],
      "id": "3049a8d6-193f-42b6-9e30-d8c42991be70",
      "name": "Send Order Placed"
    },
    {
      "parameters": {
        "jsCode": "// AI Agent expects an input field called 'sessionId'. Inject it from tenant + customer phone.\nconst item = $input.first().json;\nconst tenantId = $('Resolve Tenant').item.json.tenant_id || '';\nconst fromNumber = $('Extract & Filter').item.json.from_number || '';\nconst sessionId = `${tenantId}__${fromNumber}`;\nreturn [{ json: { ...item, sessionId } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        944
      ],
      "id": "f9195ddb-4d3d-432f-913c-12d440add929",
      "name": "Add Session ID for AI"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Customer {{ $('Extract & Filter').item.json.contact_name }} ({{ $('Extract & Filter').item.json.from_number }}) says:\n\n{{ $('Extract & Filter').item.json.message_text }}",
        "options": {
          "systemMessage": "={{ ($('Resolve Tenant').item.json.ai_system_prompt || 'You are a helpful store assistant for ' + ($('Resolve Tenant').item.json.business_name || 'this business') + '. Answer customer questions about the store only: opening hours, location, services, policies, and general information. Be friendly and concise. Respond in the same language the customer uses. Do not take orders—direct customers to use the Order button. You can use search_products only if they ask what products exist; for placing orders they must use the Order flow.') + '\\n\\n[Context: You are already talking to a customer of \"' + ($('Resolve Tenant').item.json.business_name || 'this business') + '\". API authentication (X-Service-Key, X-Tenant-Id) is handled by the system—never ask the customer for these or any credentials.]' }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1824,
        944
      ],
      "id": "33952cf4-e100-4018-83f9-4206095ccb05",
      "name": "AI Agent",
      "notesInFlow": true,
      "notes": "Something else: store-info Q&A only. Session ID comes from previous node."
    },
    {
      "parameters": {
        "modelName": "models/gemma-3n-e4b-it",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1568,
        1168
      ],
      "id": "d207f7e8-ad63-4981-9aba-796ca9a1c9d1",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "fSxkGO7MQhs9auj8",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Extract & Filter').item.json.api_url }}/inventory",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "search"
            }
          ]
        },
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "X-Service-Key"
            },
            {
              "name": "X-Tenant-Id"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1824,
        1168
      ],
      "id": "af695fa0-e941-4aca-87a0-7522ef9b866a",
      "name": "Search Products"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Extract & Filter').item.json.api_url }}/transactions",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "X-Service-Key"
            },
            {
              "name": "X-Tenant-Id"
            },
            {
              "name": "Content-Type"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $fromAI('order_body', 'JSON object with: items (array of {product_id, name, quantity, unit_price}), customer_name, customer_phone', 'json') }}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1952,
        1168
      ],
      "id": "984ae783-14e1-4fe4-b75f-01e12269039c",
      "name": "Create Order"
    },
    {
      "parameters": {
        "url": "={{ $('Extract & Filter').item.json.api_url }}/contacts",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "phone"
            }
          ]
        },
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "X-Service-Key"
            },
            {
              "name": "X-Tenant-Id"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        2080,
        1168
      ],
      "id": "4e3c7c2b-277d-4e51-865c-70cada127b25",
      "name": "Find Contact"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Extract & Filter').item.json.api_url }}/contacts",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "X-Service-Key"
            },
            {
              "name": "X-Tenant-Id"
            },
            {
              "name": "Content-Type"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $fromAI('contact_body', 'JSON object with: name (string), phone (string), source_channel (always whatsapp)', 'json') }}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        2208,
        1168
      ],
      "id": "95d8c390-91b0-43ce-a944-b66b0f3d717e",
      "name": "Create Contact"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $('Extract & Filter').item.json.phone_number_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Resolve Tenant').item.json.meta_access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messaging_product: 'whatsapp', recipient_type: 'individual', to: $('Extract & Filter').item.json.from_number.replace(/^\\\\+/,''), type: 'text', text: { body: $json.output } }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2416,
        944
      ],
      "id": "945343c7-b3b5-4902-acb9-31a9f8563a56",
      "name": "Send Reply"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Extract & Filter').item.json.api_url }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Service-Key",
              "value": "={{ $('Extract & Filter').item.json.service_api_key }}"
            },
            {
              "name": "X-Tenant-Id",
              "value": "={{ $('Resolve Tenant').item.json.tenant_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: 'whatsapp', direction: 'outbound', from_number: $('Extract & Filter').item.json.display_phone_number, to_number: $('Extract & Filter').item.json.from_number, text: $('AI Agent').item.json.output, category: 'active' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2640,
        944
      ],
      "id": "31457323-0267-45a7-aa7c-e927e5436662",
      "name": "Store Outbound",
      "notesInFlow": true,
      "notes": "POST /messages (save outbound)"
    },
    {
      "parameters": {
        "content": "### Setup Checklist\n\n**1. Service API Key** — In **Extract & Filter**, set your real key.\n**2. Meta Webhook** — App Dashboard → WhatsApp: URL = {n8n}/webhook/whatsapp.\n**3. Tenant** — Each business sets **Meta Access Token** and **WhatsApp Business Account ID** in Connect WhatsApp (Settings). POST /onboarding/setup with meta_phone_number_id, meta_access_token, meta_business_account_id, ai_system_prompt. Credentials are per-tenant and supplied dynamically via resolve-phone.\n**4. Graph API auth** — All send nodes use **Authorization: Bearer {{ $('Resolve Tenant').item.json.meta_access_token }}** (no hardcoded WhatsApp credential).\n**5. Other credentials** — Google Gemini for AI Agent.\n\n---\n\n### Flow (templates + one chatbot path)\nFirst message → **Send 3 Buttons**: Order | Products | Something else.\n• **Products** → Get Inventory → **Send Products** (list only).\n• **Order** → Get Inventory → **Format Order Products** → **Send Order Products** (list + add-to-cart CTA). Follow-up: handle reply (e.g. 1x2, 3x1) in another flow → POST /transactions, payment link.\n• **Something else** → **AI Agent** (store-info Q&A only) → Send Reply → Store Outbound.",
        "height": 540,
        "width": 400,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -480,
        4704
      ],
      "id": "29e8cbb7-576e-4683-b7c7-1eb6ea703d46",
      "name": "Setup Instructions"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1696,
        1168
      ],
      "id": "9a2a77cd-43e8-495f-a4d8-2c3d6063a427",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst action = $('Extract & Filter').item.json.action; // \"add\" or \"rem\"\nlet qty = input.quantity || 0; \n\nif (action === 'rem') {\n  qty = Math.max(0, qty - 1);\n} else {\n  qty += 1;\n}\n\nreturn {\n  new_quantity: qty,\n  product_name: input.name,\n  product_id: input.id,\n  unit_cost: input.unit_cost,\n  total: (qty * input.unit_cost).toFixed(2)\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1888,
        1792
      ],
      "id": "0ca6356f-cda6-4e08-9a2e-d3ba75d4f3e3",
      "name": "State Manager"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $('Extract & Filter').item.json.phone_number_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Resolve Tenant').item.json.meta_access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"={{ $('Extract & Filter').item.json.from_number.replace(/^\\+/, '') }}\",\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"button\",\n    \"body\": {\n      \"text\": \"✅ Item added. I can suggest products based on what you need—just tell me what you're looking for.\"\n    },\n    \"action\": {\n      \"buttons\": [\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"view_cart\",\n            \"title\": \"🛒 View Cart\"\n          }\n        },\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"products\",\n            \"title\": \"🛍️ Keep Shopping\"\n          }\n        }\n      ]\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2864,
        1792
      ],
      "id": "d37bc2fd-703f-48f6-8ed8-54fd6dad7dd9",
      "name": "WhatsApp: Cart Confirmation"
    },
    {
      "parameters": {
        "jsCode": "const cartItems = $('State Manager').first().json.cart || []; \n\nif (cartItems.length === 0) {\n    return [{ json: { summary: \"Your cart is empty! 🛒\", has_items: false } }];\n}\n\nlet summary = \"📝 *Your Current Order:*\\n\\n\";\nlet total = 0;\n\ncartItems.forEach(item => {\n    const price = parseFloat(item.price) || 0;\n    const qty = parseInt(item.quantity) || 1;\n    summary += `• ${item.name} (x${qty}) - $${(price * qty).toFixed(2)}\\n`;\n    total += (price * qty);\n});\n\nsummary += `\\n*Total: $${total.toFixed(2)}*`;\nreturn [{ json: { summary, has_items: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        1600
      ],
      "id": "75441b3f-de99-4189-972c-f9c959fd290a",
      "name": "Format Cart Summary"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Extract & Filter').item.json.api_url }}/cart/items",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Service-Key",
              "value": "={{ $('Extract & Filter').item.json.service_api_key }}"
            },
            {
              "name": "X-Tenant-Id",
              "value": "={{ $('Resolve Tenant').item.json.tenant_id }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "customer_id",
              "value": "={{ $('Extract & Filter').item.json.from_number }}"
            },
            {
              "name": "product_id",
              "value": "={{ $('Route').item.json.product_id }}"
            },
            {
              "name": "quantity",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2640,
        1792
      ],
      "id": "487a5093-c076-464f-b4ed-db26baa995e9",
      "name": "Add to Cart Success"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $('Extract & Filter').item.json.phone_number_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Resolve Tenant').item.json.meta_access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"={{ $('Extract & Filter').item.json.from }}\",\n  \"type\": \"interactive\",\n  \"interactive\": {\n    \"type\": \"button\",\n    \"body\": {\n      \"text\": \"={{ $json.summary }}\"\n    },\n    \"action\": {\n      \"buttons\": [\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"checkout\",\n            \"title\": \"💳 Checkout\"\n          }\n        },\n        {\n          \"type\": \"reply\",\n          \"reply\": {\n            \"id\": \"products\",\n            \"title\": \"🛍️ Keep Shopping\"\n          }\n        }\n      ]\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1888,
        1600
      ],
      "id": "db790612-e1a7-44f3-bef1-3c5fd149f652",
      "name": "WhatsApp: Send View Cart"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "7cc3490a-709d-4188-8ce4-5dfc9b97f0ff",
      "name": "Every hour (Phase 3)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "p3-api-url",
              "name": "api_url",
              "value": "https://mv21vj2kof.execute-api.us-east-1.amazonaws.com",
              "type": "string"
            },
            {
              "id": "p3-service-key",
              "name": "service_api_key",
              "value": "S92QLSeIQ0faFR2ql1V066YmGRpZdME6321XLPPqPbc",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "id": "d734f1ce-f38f-4f23-a256-3c3f2fe4c36c",
      "name": "Set API config (Phase 3)"
    },
    {
      "parameters": {
        "url": "={{ $json.api_url }}/onboarding/tenant-ids",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Service-Key",
              "value": "={{ $json.service_api_key }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        0
      ],
      "id": "b8629a9a-36b2-4f20-93ca-6c465cb0dfde",
      "name": "GET Tenant IDs (Phase 3)"
    },
    {
      "parameters": {
        "jsCode": "// Expand to one item per tenant so the rest of the flow runs for each business\nconst res = $input.first().json;\nconst ids = res.tenant_ids || [];\nconst config = $('Set API config (Phase 3)').first().json;\nif (ids.length === 0) return [];\nreturn ids.map(tenant_id => ({ json: { tenant_id, api_url: config.api_url, service_api_key: config.service_api_key } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        0
      ],
      "id": "31c4024e-c3fd-46d6-97eb-a1c6c8ba6b02",
      "name": "Expand to one per tenant"
    },
    {
      "parameters": {
        "url": "={{ $json.api_url }}/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": 100
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Service-Key",
              "value": "={{ $json.service_api_key }}"
            },
            {
              "name": "X-Tenant-Id",
              "value": "={{ $json.tenant_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        896,
        80
      ],
      "id": "4227d185-1230-4bb6-9c6f-21a867a4b0bd",
      "name": "GET Messages (Phase 3)"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "position"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1120,
        0
      ],
      "id": "6d9472f4-0c63-4b80-99a1-1c0fad47a6e1",
      "name": "Merge tenant + messages (Phase 3)"
    },
    {
      "parameters": {
        "jsCode": "// Phase 3: Find conversations that need 20h (incomplete) or 24h (closed)\nconst HOURS_20 = 20;\nconst HOURS_24 = 24;\n\nconst prev = $input.first().json;\nconst messages = prev.messages || [];\nconst tenantId = prev.tenant_id;\nconst apiUrl = prev.api_url;\nconst serviceKey = prev.service_api_key;\n\nfunction norm(s) { return (s || '').replace(/\\s/g, '').replace(/^\\+/, '') || ''; }\n\n// Count how often each number appears (business appears in every message)\nconst count = {};\nfor (const m of messages) {\n  const from = norm(m.from_number);\n  const to = norm(m.to_number);\n  if (from) count[from] = (count[from] || 0) + 1;\n  if (to && to !== from) count[to] = (count[to] || 0) + 1;\n}\n// Customer = number with fewer appearances in this tenant's messages\nfunction customerFor(from, to) {\n  if (!from) return to;\n  if (!to) return from;\n  return (count[from] || 0) <= (count[to] || 0) ? from : to;\n}\n\n// Group by conversation (unordered pair); keep latest message; key by customer phone\nconst byCustomer = {};\nfor (const m of messages) {\n  const from = norm(m.from_number);\n  const to = norm(m.to_number);\n  const customer = customerFor(from, to);\n  if (!customer) continue;\n  const ts = m.created_ts || '';\n  if (!byCustomer[customer] || ts > (byCustomer[customer].created_ts || '')) {\n    byCustomer[customer] = { ...m, customer_phone: customer };\n  }\n}\n\nconst now = new Date();\nconst out = [];\nfor (const c of Object.values(byCustomer)) {\n  const created = c.created_ts ? new Date(c.created_ts) : null;\n  if (!created) continue;\n  const hours = (now - created) / (1000 * 60 * 60);\n  const cat = (c.category || 'active').toLowerCase();\n  if (cat === 'active' && hours >= HOURS_24) {\n    out.push({ api_url: apiUrl, service_api_key: serviceKey, tenant_id: tenantId, from_number: c.customer_phone, category: 'closed' });\n  } else if (cat === 'active' && hours >= HOURS_20) {\n    out.push({ api_url: apiUrl, service_api_key: serviceKey, tenant_id: tenantId, from_number: c.customer_phone, category: 'incomplete' });\n  } else if (cat === 'incomplete' && hours >= HOURS_24) {\n    out.push({ api_url: apiUrl, service_api_key: serviceKey, tenant_id: tenantId, from_number: c.customer_phone, category: 'closed' });\n  }\n}\nreturn out.map(o => ({ json: o }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        0
      ],
      "id": "80fc7e2e-4991-4748-828e-d0e2c210523b",
      "name": "Find 20h/24h conversations"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.api_url }}/messages/mark-conversation",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Service-Key",
              "value": "={{ $json.service_api_key }}"
            },
            {
              "name": "X-Tenant-Id",
              "value": "={{ $json.tenant_id }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from_number\": \"{{ $json.from_number }}\",\n  \"category\": \"{{ $json.category }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1568,
        0
      ],
      "id": "9288cf44-09e9-461a-bfa4-8d0f0fa86d8d",
      "name": "POST Mark Conversation (Phase 3)"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Verify": {
      "main": [
        [
          {
            "node": "Return Challenge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inbound Webhook": {
      "main": [
        [
          {
            "node": "Extract & Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract & Filter": {
      "main": [
        [
          {
            "node": "Resolve Tenant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Tenant": {
      "main": [
        [
          {
            "node": "Store Inbound",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Inbound": {
      "main": [
        [
          {
            "node": "Route",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send 3 Buttons",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Inventory for Order",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Cart for Order",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Session ID for AI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Inventory for Add to Cart",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Cart",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Checkout API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Clear Cart API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Cart Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Inventory": {
      "main": [
        [
          {
            "node": "Format Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Products": {
      "main": [
        [
          {
            "node": "Send Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Session ID for AI": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Reply": {
      "main": [
        [
          {
            "node": "Store Outbound",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Inventory for Order": {
      "main": [
        [
          {
            "node": "Build Order Products Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Order Products Message": {
      "main": [
        [
          {
            "node": "Has carousel?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has carousel?": {
      "main": [
        [
          {
            "node": "Send Product Carousel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Order Text (0-1 products)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Product Carousel": {
      "main": [
        [
          {
            "node": "Has more products?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has more products?": {
      "main": [
        [
          {
            "node": "Format more products message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format more products message": {
      "main": [
        [
          {
            "node": "Send Order Text (0-1 products)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Inventory for Add to Cart": {
      "main": [
        [
          {
            "node": "State Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve product_id for Add to Cart": {
      "main": [
        [
          {
            "node": "Add to Cart Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Cart API": {
      "main": [
        [
          {
            "node": "Get Inventory for Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Cart for Order": {
      "main": [
        [
          {
            "node": "Cart has items?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cart has items?": {
      "main": [
        [
          {
            "node": "Send Already Have Cart",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Inventory for Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Cart": {
      "main": [
        [
          {
            "node": "Format Cart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Cart": {
      "main": [
        [
          {
            "node": "Send Cart Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checkout API": {
      "main": [
        [
          {
            "node": "Send Order Placed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Search Products": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Order": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Find Contact": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Contact": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "State Manager": {
      "main": [
        [
          {
            "node": "Resolve product_id for Add to Cart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Cart Summary": {
      "main": [
        [
          {
            "node": "WhatsApp: Send View Cart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Cart Success": {
      "main": [
        [
          {
            "node": "WhatsApp: Cart Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every hour (Phase 3)": {
      "main": [
        [
          {
            "node": "Set API config (Phase 3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set API config (Phase 3)": {
      "main": [
        [
          {
            "node": "GET Tenant IDs (Phase 3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Tenant IDs (Phase 3)": {
      "main": [
        [
          {
            "node": "Expand to one per tenant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand to one per tenant": {
      "main": [
        [
          {
            "node": "GET Messages (Phase 3)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge tenant + messages (Phase 3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Messages (Phase 3)": {
      "main": [
        [
          {
            "node": "Merge tenant + messages (Phase 3)",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge tenant + messages (Phase 3)": {
      "main": [
        [
          {
            "node": "Find 20h/24h conversations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find 20h/24h conversations": {
      "main": [
        [
          {
            "node": "POST Mark Conversation (Phase 3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "754fb249-bd42-433b-9d7a-6a6b2f41114f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c90f21958816af2110b32ba3137519e800bd0ddf35c1e739d53f4071e30b5a49"
  },
  "id": "1XSblgQFyQKsEx5a",
  "tags": []
}